# üìö NoteBook 2 PEGASUS Evaluation

# üöÄ PROJECT PLAN
MKEM Implementation ‚Äì Transformer-Based Abstractive Text Summarization

# üéØ Problem Statement Recap

# üîç Objective:
To build and compare transformer-based summarization models (T5, BART, Pegasus) and then enhance them using MKEM (Multi-Knowledge-Enhanced Model) on curated English news datasets.

# üìå Phase-1 Objective

# ‚úÖ Implement the following 3 summarization models:
    
PEGASUS (Google)---NoteBook(2)

BART (Facebook)---NoteBook(3)

T5 (Google)---NoteBook(1)

# ‚úÖ Evaluate on 3 benchmark datasets:
    
CNN/DailyMail

XSum

MultiNews

# ‚úÖ Evaluation Metrics:
    
ROUGE-1

ROUGE-2

ROUGE-L

BERTScore

# üìä Final Output (Per Model √ó Dataset):
    
You must submit structured results:

Dataset name

Model used

ROUGE-1, ROUGE-2, ROUGE-L, BERTScore

Short analysis/observations

# üìå Phase-2 Objective:Final Comparison + MKEM-- NoteBook (4)

**üéØ Task: Model Comparison + MKEM Fusion**

# üöÄPEGASUS Implementation Plan

# **1.üöÄPEGASUS on CNN**

**üîπ Step 1: Install & Import**

In [4]:
from transformers import PegasusTokenizer, PegasusForConditionalGeneration
import torch
import pandas as pd

In [2]:
import torch
print(torch.version.cuda)

None

In [3]:
!pip install torch==2.6.0+cpu --index-url https://download.pytorch.org/whl/cpu

Looking in indexes: https://download.pytorch.org/whl/cpu
Requirement already satisfied: torch==2.6.0+cpu in c:\users\samim imtiaz\anaconda3\lib\site-packages (2.6.0+cpu)
Requirement already satisfied: filelock in c:\users\samim imtiaz\anaconda3\lib\site-packages (from torch==2.6.0+cpu) (3.9.0)
Requirement already satisfied: typing-extensions>=4.10.0 in c:\users\samim imtiaz\anaconda3\lib\site-packages (from torch==2.6.0+cpu) (4.12.2)
Requirement already satisfied: networkx in c:\users\samim imtiaz\anaconda3\lib\site-packages (from torch==2.6.0+cpu) (3.1)
Requirement already satisfied: jinja2 in c:\users\samim imtiaz\anaconda3\lib\site-packages (from torch==2.6.0+cpu) (3.1.2)
Requirement already satisfied: fsspec in c:\users\samim imtiaz\anaconda3\lib\site-packages (from torch==2.6.0+cpu) (2025.3.0)
Requirement already satisfied: sympy==1.13.1 in c:\users\samim imtiaz\anaconda3\lib\site-packages (from torch==2.6.0+cpu) (1.13.1)
Requirement already satisfied: mpmath<1.4,>=1.1.0 in c:\users\samim imtiaz\anaconda3\lib\site-packages (from sympy==1.13.1->torch==2.6.0+cpu) (1.3.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\samim imtiaz\anaconda3\lib\site-packages (from jinja2->torch==2.6.0+cpu) (2.1.1)

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

**üîπ Step 2: Load PEGASUS model & tokenizer**

In [5]:
model_name = "google/pegasus-cnn_dailymail"
tokenizer = PegasusTokenizer.from_pretrained(model_name)
model = PegasusForConditionalGeneration.from_pretrained(model_name)

device = torch.device("cuda" if torch.cuda.is_available() else "cpu")
model = model.to(device)

Some weights of PegasusForConditionalGeneration were not initialized from the model checkpoint at google/pegasus-cnn_dailymail and are newly initialized: ['model.decoder.embed_positions.weight', 'model.encoder.embed_positions.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

generation_config.json:   0%|          | 0.00/280 [00:00<?, ?B/s]

C:\Users\SAMIM IMTIAZ\anaconda3\Lib\site-packages\huggingface_hub\file_download.py:143: UserWarning: `huggingface_hub` cache-system uses symlinks by default to efficiently store duplicated files but your machine does not support them in C:\Users\SAMIM IMTIAZ\.cache\huggingface\hub\models--google--pegasus-cnn_dailymail. Caching files will still work but in a degraded version that might require more space on your disk. This warning can be disabled by setting the `HF_HUB_DISABLE_SYMLINKS_WARNING` environment variable. For more details, see https://huggingface.co/docs/huggingface_hub/how-to-cache#limitations.
To support symlinks on Windows, you either need to activate Developer Mode or to run Python as an administrator. In order to activate developer mode, see this article: https://docs.microsoft.com/en-us/windows/apps/get-started/enable-your-device-for-development
  warnings.warn(message)

**üîπ Step 3: Load Dataset from CSV**

In [34]:
# Load full datasets 
from datasets import load_dataset

cnn_dailymail = load_dataset("cnn_dailymail", "3.0.0")

In [36]:
print("üìä CNN/DailyMail Test Set:", cnn_dailymail['test'].shape)

üìä CNN/DailyMail Test Set: (11490, 3)

In [37]:
# Load CNN dataset saved from Notebook 1
df_cnn = pd.read_csv("cnn_dailymail.csv")

**üîπStep 4: Inspect the Data**

In [8]:
df_cnn.head()

,article,highlights,id
0,"LONDON, England (Reuters) -- Harry Potter star...",Harry Potter star Daniel Radcliffe gets ¬£20M f...,42c027e4ff9730fbb3de84c1af0d2c506e41c3e4
1,Editor's note: In our Behind the Scenes series...,Mentally ill inmates in Miami are housed on th...,ee8871b15c50d0db17b0179a6d2beab35065f1e9
2,"MINNEAPOLIS, Minnesota (CNN) -- Drivers who we...","NEW: ""I thought I was going to die,"" driver sa...",06352019a19ae31e527f37f7571c6dd7f0c5da37
3,WASHINGTON (CNN) -- Doctors removed five small...,"Five small polyps found during procedure; ""non...",24521a2abb2e1f5e34e6824e0f9e56904a2b0e88
4,(CNN) -- The National Football League has ind...,"NEW: NFL chief, Atlanta Falcons owner critical...",7fe70cc8b12fab2d0a258fababf7d9c6b5e1262a

**üîπ Step 5: Define Generation Function**

In [9]:
def generate_summary(text):
    inputs = tokenizer(text, truncation=True, padding="longest", return_tensors="pt").to(device)
    summary_ids = model.generate(inputs["input_ids"], max_length=60, min_length=10, length_penalty=2.0, num_beams=4, early_stopping=True)
    return tokenizer.decode(summary_ids[0], skip_special_tokens=True)

**üîπ Step 6: Generate Summaries for Evaluation**

In [11]:
sample_articles = df_cnn["article"][:3] 
generated_summaries = []

for i, article in enumerate(sample_articles):
    print(f"\nüì∞ Original Article #{i+1}:\n", article[:500], "...\n")
    
    summary = generate_summary(article)
    generated_summaries.append(summary)
    
    print(f"‚úçÔ∏è PEGASUS Summary #{i+1}:\n", summary)
    print("-" * 80)

üì∞ Original Article #1:
 LONDON, England (Reuters) -- Harry Potter star Daniel Radcliffe gains access to a reported ¬£20 million ($41.1 million) fortune as he turns 18 on Monday, but he insists the money won't cast a spell on him. Daniel Radcliffe as Harry Potter in "Harry Potter and the Order of the Phoenix" To the disappointment of gossip columnists around the world, the young actor says he has no plans to fritter his cash away on fast cars, drink and celebrity parties. "I don't plan to be one of those people who, as s ...

‚úçÔ∏è PEGASUS Summary #1:
 Harry Potter star Daniel Radcliffe gains access to a reported ¬£20 million fortune .<n>Young actor says he has no plans to fritter his cash away .<n>Radcliffe's earnings from the first five Potter films have been held in a trust fund .
--------------------------------------------------------------------------------

üì∞ Original Article #2:
 Editor's note: In our Behind the Scenes series, CNN correspondents share their experiences in covering news and analyze the stories behind the events. Here, Soledad O'Brien takes users inside a jail where many of the inmates are mentally ill. An inmate housed on the "forgotten floor," where many mentally ill inmates are housed in Miami before trial. MIAMI, Florida (CNN) -- The ninth floor of the Miami-Dade pretrial detention facility is dubbed the "forgotten floor." Here, inmates with the most s ...

‚úçÔ∏è PEGASUS Summary #2:
 Mentally ill inmates in Miami are housed on the "forgotten floor"<n>Judge Steven Leifman says the system is unjust .<n>Leifman: "It's brutally unjust, in his mind, and he has become a strong advocate"
--------------------------------------------------------------------------------

üì∞ Original Article #3:
 MINNEAPOLIS, Minnesota (CNN) -- Drivers who were on the Minneapolis bridge when it collapsed told harrowing tales of survival. "The whole bridge from one side of the Mississippi to the other just completely gave way, fell all the way down," survivor Gary Babineau told CNN. "I probably had a 30-, 35-foot free fall. And there's cars in the water, there's cars on fire. The whole bridge is down." He said his back was injured but he determined he could move around. "I realized there was a school bus  ...

‚úçÔ∏è PEGASUS Summary #3:
 "It just gave a rumble real quick, and it all just gave way, and it just fell completely," driver says .<n>Driver: "I probably had a 30-, 35-foot free fall. And there's cars in the water"<n>Ambulances were having a
--------------------------------------------------------------------------------

**Define CNN predictions and references**

In [12]:
pegasus_cnn_preds = generated_summaries
pegasus_cnn_refs = df_cnn["highlights"][:len(generated_summaries)]

**üîπ Step 7: Evaluate with ROUGE & BERTScore**

In [15]:
from evaluate import load
import pandas as pd

# Load evaluation metrics
rouge = load("rouge")
bertscore = load("bertscore")

# Global list to collect results
summary_results = []

# Define evaluation function
def evaluate_metrics(dataset_name, predictions, references):
    # ROUGE computation
    rouge_scores = rouge.compute(predictions=predictions, references=references, use_stemmer=True)

    # BERTScore computation
    bert_scores = bertscore.compute(predictions=predictions, references=references, lang="en")
    avg_bertscore = sum(bert_scores["f1"]) / len(bert_scores["f1"])

    # Append results
    summary_results.append({
        "Dataset": dataset_name,
        "ROUGE-1": round(rouge_scores["rouge1"], 4),
        "ROUGE-2": round(rouge_scores["rouge2"], 4),
        "ROUGE-L": round(rouge_scores["rougeL"], 4),
        "BERTScore": round(avg_bertscore, 4)
    })

In [16]:
evaluate_metrics("CNN DailyMail", pegasus_cnn_preds, pegasus_cnn_refs)

Some weights of RobertaModel were not initialized from the model checkpoint at roberta-large and are newly initialized: ['pooler.dense.bias', 'pooler.dense.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.
C:\Users\SAMIM IMTIAZ\anaconda3\Lib\site-packages\torch\nn\modules\module.py:1750: FutureWarning: `encoder_attention_mask` is deprecated and will be removed in version 4.55.0 for `RobertaSdpaSelfAttention.forward`.
  return forward_call(*args, **kwargs)

**üîπStep 8: PEGASUS with CNN ROUGE & BERTScore**

In [17]:
df_summary = pd.DataFrame(summary_results)
print("‚úÖ PEGASUS Model ROUGE + BERTScore Summary")
print(df_summary.to_string(index=False))

‚úÖ PEGASUS Model ROUGE + BERTScore Summary
      Dataset  ROUGE-1  ROUGE-2  ROUGE-L  BERTScore
CNN DailyMail   0.5595   0.4425   0.5201     0.9102

# 2.üöÄPEGASUS on XSUM

**üîπ Step 9: Load XSum Dataset**

In [38]:
# ‚úÖ Load datasets properly
from datasets import load_dataset

# XSum (extreme summarization)
xsum = load_dataset("xsum")

Using the latest cached version of the dataset since xsum couldn't be found on the Hugging Face Hub
WARNING:datasets.load:Using the latest cached version of the dataset since xsum couldn't be found on the Hugging Face Hub
Found the latest cached dataset configuration 'default' at C:\Users\SAMIM IMTIAZ\.cache\huggingface\datasets\xsum\default\1.2.0\082863bf4754ee058a5b6f6525d0cb2b18eadb62c7b370b095d1364050a52b71 (last modified on Sun Aug  3 14:51:50 2025).
WARNING:datasets.packaged_modules.cache.cache:Found the latest cached dataset configuration 'default' at C:\Users\SAMIM IMTIAZ\.cache\huggingface\datasets\xsum\default\1.2.0\082863bf4754ee058a5b6f6525d0cb2b18eadb62c7b370b095d1364050a52b71 (last modified on Sun Aug  3 14:51:50 2025).

In [39]:
# ‚úÖ Show original dataset sizes (test set only or all splits as needed)
print("üìä XSum Test Set:", xsum['test'].shape)

üìä XSum Test Set: (11334, 3)

In [18]:
import pandas as pd

# Load XSum dataset saved from Notebook 1
df_xsum = pd.read_csv("xsum.csv")

**üîπStep 10: Inspect the Data**

In [19]:
df_xsum.head()

,document,summary,id
0,"The full cost of damage in Newton Stewart, one...",Clean-up operations are continuing across the ...,35232142
1,A fire alarm went off at the Holiday Inn in Ho...,Two tourist buses have been destroyed by fire ...,40143035
2,Ferrari appeared in a position to challenge un...,Lewis Hamilton stormed to pole position at the...,35951548
3,"John Edward Bates, formerly of Spalding, Linco...",A former Lincolnshire Police officer carried o...,36266422
4,Patients and staff were evacuated from Cerahpa...,An armed man who locked himself into a room at...,38826984

**üîπ Step 11: Generate PEGASUS Summaries for XSum**

In [20]:
sample_articles = df_xsum["document"][:3]
generated_summaries = []

for i, article in enumerate(sample_articles):
    print(f"\nüì∞ Original XSum Article #{i+1}:\n", article[:500], "...\n")
    
    summary = generate_summary(article)
    generated_summaries.append(summary)
    
    print(f"‚úçÔ∏è PEGASUS Summary #{i+1}:\n", summary)
    print("-" * 80)

# Store predictions and references
pegasus_xsum_preds = generated_summaries
pegasus_xsum_refs = df_xsum["summary"][:3]

üì∞ Original XSum Article #1:
 The full cost of damage in Newton Stewart, one of the areas worst affected, is still being assessed.
Repair work is ongoing in Hawick and many roads in Peeblesshire remain badly affected by standing water.
Trains on the west coast mainline face disruption due to damage at the Lamington Viaduct.
Many businesses and householders were affected by flooding in Newton Stewart after the River Cree overflowed into the town.
First Minister Nicola Sturgeon visited the area to inspect the damage.
The water ...

‚úçÔ∏è PEGASUS Summary #1:
 Many roads in Peeblesshire remain badly affected by standing water .<n>Trains on the west coast mainline face disruption due to damage at the Lamington Viaduct .<n>First Minister Nicola Sturgeon visited the area to inspect the damage .
--------------------------------------------------------------------------------

üì∞ Original XSum Article #2:
 A fire alarm went off at the Holiday Inn in Hope Street at about 04:20 BST on Saturday and guests were asked to leave the hotel.
As they gathered outside they saw the two buses, parked side-by-side in the car park, engulfed by flames.
One of the tour groups is from Germany, the other from China and Taiwan. It was their first night in Northern Ireland.
The driver of one of the buses said many of the passengers had left personal belongings on board and these had been destroyed.
Both groups have or ...

‚úçÔ∏è PEGASUS Summary #2:
 Fire alarm went off at a Holiday Inn in Belfast on Saturday .<n>Guests gathered outside to see two buses engulfed in flames .<n>One of the tour groups was from Germany, the other from China and Taiwan .
--------------------------------------------------------------------------------

üì∞ Original XSum Article #3:
 Ferrari appeared in a position to challenge until the final laps, when the Mercedes stretched their legs to go half a second clear of the red cars.
Sebastian Vettel will start third ahead of team-mate Kimi Raikkonen.
The world champion subsequently escaped punishment for reversing in the pit lane, which could have seen him stripped of pole.
But stewards only handed Hamilton a reprimand, after governing body the FIA said "no clear instruction was given on where he should park".
Belgian Stoffel Va ...

‚úçÔ∏è PEGASUS Summary #3:
 Lewis Hamilton will start on pole for Sunday's Bahrain Grand Prix .<n>Sebastian Vettel will start third ahead of team-mate Kimi Raikkonen .<n>Hamilton handed a reprimand by stewards for reversing in the pit lane .<n>Stoffel Vandoorne out-qualified McLaren team
--------------------------------------------------------------------------------

**üîπ Step 11: Evaluate with ROUGE & BERTScore**

In [21]:
evaluate_metrics("XSum", pegasus_xsum_preds, pegasus_xsum_refs)

C:\Users\SAMIM IMTIAZ\anaconda3\Lib\site-packages\torch\nn\modules\module.py:1750: FutureWarning: `encoder_attention_mask` is deprecated and will be removed in version 4.55.0 for `RobertaSdpaSelfAttention.forward`.
  return forward_call(*args, **kwargs)

**üîπStep 12: PEGASUS with CNN & XSUM ROUGE & BERTScore**

In [23]:
df_summary = pd.DataFrame(summary_results)
print("‚úÖ PEGASUS Model ROUGE + BERTScore Summary")
print(df_summary.to_string(index=False))

‚úÖ PEGASUS Model ROUGE + BERTScore Summary
      Dataset  ROUGE-1  ROUGE-2  ROUGE-L  BERTScore
CNN DailyMail   0.5595   0.4425   0.5201     0.9102
         XSum   0.2265   0.0681   0.1677     0.8609

# 3.üöÄPEGASUS on MultiNews

**üîπStep 13: Load MultiNews Dataset**

In [40]:
# ‚úÖ Load datasets properly
from datasets import load_dataset

# MultiNews (multi-document summarization)
multi_news = load_dataset("multi_news")

Using the latest cached version of the dataset since multi_news couldn't be found on the Hugging Face Hub
WARNING:datasets.load:Using the latest cached version of the dataset since multi_news couldn't be found on the Hugging Face Hub
Found the latest cached dataset configuration 'default' at C:\Users\SAMIM IMTIAZ\.cache\huggingface\datasets\multi_news\default\1.0.0\2f1f69a2bedc8ad1c5d8ae5148e4755ee7095f465c1c01ae8f85454342065a72 (last modified on Sun Aug  3 14:55:04 2025).
WARNING:datasets.packaged_modules.cache.cache:Found the latest cached dataset configuration 'default' at C:\Users\SAMIM IMTIAZ\.cache\huggingface\datasets\multi_news\default\1.0.0\2f1f69a2bedc8ad1c5d8ae5148e4755ee7095f465c1c01ae8f85454342065a72 (last modified on Sun Aug  3 14:55:04 2025).

In [41]:
# ‚úÖ Show original dataset sizes (test set only or all splits as needed)
print("üìä MultiNews Test Set:", multi_news['test'].shape)

üìä MultiNews Test Set: (5622, 2)

In [24]:
import pandas as pd

# Load dataset saved in Notebook 1
df_multi = pd.read_csv("multi_news.csv")

**üîπStep 14: Inspect the Data**

In [25]:
df_multi.head()

,document,summary
0,"National Archives \n \n Yes, it‚Äôs that time ag...",‚Äì The unemployment rate dropped to 8.2% last m...
1,LOS ANGELES (AP) ‚Äî In her first interview sinc...,"‚Äì Shelly Sterling plans ""eventually"" to divorc..."
2,"GAITHERSBURG, Md. (AP) ‚Äî A small, private jet ...",‚Äì A twin-engine Embraer jet that the FAA descr...
3,Tucker Carlson Exposes His Own Sexism on Twitt...,‚Äì Tucker Carlson is in deep doodoo with conser...
4,A man accused of removing another man's testic...,‚Äì What are the three most horrifying words in ...

**üîπStep 15: Generate PEGASUS Summaries**

In [26]:
sample_articles = df_multi["document"][:3]
generated_summaries = []

for i, article in enumerate(sample_articles):
    print(f"\nüì∞ Original MultiNews Article #{i+1}:\n", article[:500], "...\n")
    
    summary = generate_summary(article)
    generated_summaries.append(summary)
    
    print(f"‚úçÔ∏è PEGASUS Summary #{i+1}:\n", summary)
    print("-" * 80)

# Set predictions and references
pegasus_multi_preds = generated_summaries
pegasus_multi_refs = df_multi["summary"][:3]

üì∞ Original MultiNews Article #1:
 National Archives

 Yes, it‚Äôs that time again, folks. It‚Äôs the first Friday of the month, when for one ever-so-brief moment the interests of Wall Street, Washington and Main Street are all aligned on one thing: Jobs.

 A fresh update on the U.S. employment situation for January hits the wires at 8:30 a.m. New York time offering one of the most important snapshots on how the economy fared during the previous month. Expectations are for 203,000 new jobs to be created, according to economists p ...

‚úçÔ∏è PEGASUS Summary #1:
 A fresh update on the U.S. employment situation for January hits the wires at 8:30 a.m.<n>Expectations are for 203,000 new jobs to be created, compared to 227,000 jobs added in February .<n>The unemployment rate is expected to hold steady at 8.3%
--------------------------------------------------------------------------------

üì∞ Original MultiNews Article #2:
 LOS ANGELES (AP) ‚Äî In her first interview since the NBA banned her estranged husband, Shelly Sterling says she will fight to keep her share of the Los Angeles Clippers and plans one day to divorce Donald Sterling.

 (Click Prev or Next to continue viewing images.)

 ADVERTISEMENT (Click Prev or Next to continue viewing images.)

 Los Angeles Clippers co-owner Shelly Sterling, below, watches the Clippers play the Oklahoma City Thunder along with her attorney, Pierce O'Donnell, in the first  ...

‚úçÔ∏è PEGASUS Summary #2:
 Shelly Sterling spoke to Barbara Walters, and ABC News posted a short story with excerpts from the conversation Sunday .<n>NBA Commissioner Adam Silver has banned Donald Sterling for making racist comments and urged owners to force Sterling to sell the team .<n>Sterling added that the Clippers franchise is her "passion
--------------------------------------------------------------------------------

üì∞ Original MultiNews Article #3:
 GAITHERSBURG, Md. (AP) ‚Äî A small, private jet has crashed into a house in Maryland's Montgomery County on Monday, killing at least three people on board, authorities said.

 Preliminary information indicates at least three people were on board and didn't survive the Monday crash into home in Gaithersburg, a Washington, D.C. suburb, said Pete Piringer, a Montgomery County Fire and Rescue spokesman.

 He said a fourth person may have been aboard.

 Piringer said the jet crashed into one home ...

‚úçÔ∏è PEGASUS Summary #3:
 A small jet crashed into a house in Maryland's Montgomery County on Monday, killing at least three people on board, authorities said.<n>Marie Gemmell, 36, her three-year-old son Cole and her infant-son Devin were inside their home when a corporate jet crashed into
--------------------------------------------------------------------------------

 **üîπStep 16: Evaluate with ROUGE + BERTScore**

In [28]:
evaluate_metrics("MultiNews", pegasus_multi_preds, pegasus_multi_refs)

C:\Users\SAMIM IMTIAZ\anaconda3\Lib\site-packages\torch\nn\modules\module.py:1750: FutureWarning: `encoder_attention_mask` is deprecated and will be removed in version 4.55.0 for `RobertaSdpaSelfAttention.forward`.
  return forward_call(*args, **kwargs)

**üîπStep 17: PEGASUS with CNN,XSUM & MultiNews ROUGE & BERTScore**

In [29]:
# Final PEGASUS results summary
df_summary = pd.DataFrame(summary_results)
print("‚úÖ PEGASUS Model ROUGE + BERTScore Summary")
print(df_summary.to_string(index=False))

‚úÖ PEGASUS Model ROUGE + BERTScore Summary
      Dataset  ROUGE-1  ROUGE-2  ROUGE-L  BERTScore
CNN DailyMail   0.5595   0.4425   0.5201     0.9102
         XSum   0.2265   0.0681   0.1677     0.8609
    MultiNews   0.3221   0.1206   0.2295     0.8481

# üíæ Save the Scores to .CSV Files

**So that we can use to comapair models in different NoteBooks**

In [30]:
# Save to CSV
df_summary["Model"] = "PEGASUS"  
df_summary.to_csv("pegasus_scores.csv", index=False)